<form [formGroup]="form">
  <div class="form-group mt-3">
    <input id="CardOwnerName"  [formControl]="CardOwnerNameControl" class="form-control" placeholder="Card Owner Name">
  </div>
  <ng-container *ngIf="CardOwnerNameControl.invalid && (CardOwnerNameControl.dirty || CardOwnerNameControl.touched)">
    <small>please input Card Owner Name</small>
  </ng-container>


  <div class="form-group mt-3">
    <input id="CardNumber"  [formControl]="CardNumberControl" class="form-control" placeholder="Card Number 16 digi">
  </div>
  <ng-container *ngIf="CardNumberControl.errors?.required && (CardNumberControl.dirty || CardNumberControl.touched)">
    <small>please input Card Number</small>
  </ng-container>
  <ng-container *ngIf="CardNumberControl.errors?.minlength">
    <small class="p-invalid p-error">min length = 15 char</small>
  </ng-container>
  <ng-container *ngIf="CardNumberControl.errors?.maxlength">
    <small class="p-invalid p-error">max length = 15 char</small>
  </ng-container>

  <div class="form-group mt-3">
    <input id="ExpirationDate"  [formControl]="ExpirationDateControl" class="form-control" placeholder="MM/YY">
  </div>
  <ng-container *ngIf="ExpirationDateControl.errors?.required && (ExpirationDateControl.dirty || ExpirationDateControl.touched)">
    <small>please input ExpirationDate</small>
  </ng-container>
  <ng-container *ngIf="ExpirationDateControl.errors?.minlength">
    <small class="p-invalid p-error">min length = 5 char</small>
  </ng-container>
  <ng-container *ngIf="ExpirationDateControl.errors?.maxlength">
    <small class="p-invalid p-error">max length = 5 char</small>
  </ng-container>

  <div class="form-group mt-3">
    <input id="CVV"  [formControl]="CVVControl" class="form-control" placeholder="CVV">
  </div>
  <ng-container *ngIf="CVVControl.errors?.required && (CVVControl.dirty || CVVControl.touched)">
    <small>please input CVV</small>
  </ng-container>
  <ng-container *ngIf="CVVControl.errors?.minlength">
    <small class="p-invalid p-error">min length = 3 char</small>
  </ng-container>
  <ng-container *ngIf="CVVControl.errors?.maxlength">
    <small class="p-invalid p-error">max length = 3 char</small>
  </ng-container>

  <!-- <div class="form-group mt-3">
    <input name="CardNumber" #CardNumber="ngModel" [(ngModel)]="service.CardNumber" class="form-control" placeholder="16 Digit Card Number" required maxlength="16" minlength="16">
  </div>
  <div class="form-group mt-3">
    <input name="ExpirationDate" #ExpirationDate="ngModel" [(ngModel)]="service.ExpirationDate" class="form-control" placeholder="ExpirationDate" required maxlength="5" minlength="5">
  </div>
  <div class="form-group mt-3">
    <input name="CVV" #CVV="ngModel" [(ngModel)]="service.CVV" class="form-control" placeholder="MM/YY" required maxlength="3" minlength="3">
  </div>
   -->
   <div class="form-group mt-3">
    <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid" (click)="onSubmit()">Submit</button>
  </div>
</form>
