input.ng-touched.ng-valid{
  border-color: #dc3545;
}

input.ng-valid{
  border-color: #28a745;
}

.button-label{
  padding: 5px 10px;
  background-color: #e9939c;
  color: white;
}

.button-label:hover{
  background-color: #dc3545;
  cursor: pointer;
}

small{
  color:red
}
.logout{
  text-align: right;
  margin-top: 10px;
}
.logout:hover{
  color: red;
  cursor: pointer;
}