<div class="container-fluid">
  <p class="logout" (click)="logout()">LogOut</p>
</div>

<div class="card md-5" style="width: 18rem" *ngIf="userDetail">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>UserName: </strong>{{userDetail.UserName}}
    </li>
    <li class="list-group-item">
      <strong>FullName: </strong>{{userDetail.FullName}}
    </li>
    <li class="list-group-item">
      <strong>Email: </strong>{{userDetail.Email}}
    </li>
    <li class="list-group-item">
      <strong>Role: </strong>{{userDetail.role[0]}}
    </li>
  </ul>
</div>

<div class="jumbtron">
  <h1 class="display-4 text-center">
    Payment Detail Register
  </h1>
  <div class="row">
    <div class="col-md-5">
      <app-payment-detail></app-payment-detail>
    </div>
    <div class="col-md-7">
      <app-payment-detail-list [userDetail]="userDetail"></app-payment-detail-list>
    </div>
  </div>
</div>