<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">CardOwnerName</th>
      <th scope="col">CardNumber</th>
      <th scope="col">ExpirationDate</th>
      <th scope="col">CVV</th>
      <th scope="col" *ngIf="userDetail.role[0] === 'Admin'">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of paymentDetailList; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{item.CardOwnerName}}</td>
      <td>{{item.CardNumber}}</td>
      <td>{{item.ExpirationDate}}</td>
      <td>{{item.CVV}}</td>
      <td *ngIf="userDetail.role[0] === 'Admin'"><label class="button-label" (click)="delete(item.PMId, i)">delete</label></td>
    </tr>
</table>