<div class="row mt-4">
  <div class="col-md-6">
    <div class="row content-left">
      <div class="col-md-12 my-auto side-header">
        <img src="/assets/img/add_user.png" class="mx-auto d-block img-register" alt="">
        <h1>User Registration</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <form [formGroup]="form">
      <div class="form-group">
          <label>Full Name</label>
          <input type="text" formControlName="FullName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FullName.errors }" />
          <div *ngIf="submitted && f.FullName.errors" class="invalid-feedback">
              <div *ngIf="f.FullName.errors.required">Full Name is required</div>
          </div>
      </div>
      <div class="form-group">
          <label>User Name</label>
          <input type="text" formControlName="UserName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }" />
          <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
              <div *ngIf="f.UserName.errors.required">User Name is required</div>
          </div>
      </div>
       
      <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
          <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
              <div *ngIf="f.Email.errors.required">Email is required</div>
              <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
          </div>
      </div>
      
      <div class="form-group">
          <label>Password</label>
          <input type="Password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
          <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
              <div *ngIf="f.Password.errors.required">Password is required</div>
              <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
          </div>
      </div>
      <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }" />
          <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.ConfirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="f.ConfirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
      </div>
     
  </form>

  <div class="form-group">
    <button class="btn btn-primary mt-3" (click)="onSubmit()">Register</button>
  </div>
  </div>
</div>