<div class="row mt-4">
  <div class="col-md-6">
    <div class="row content-left">
      <div class="col-md-12 my-auto side-header">
        <img src="/assets/img/login.png" class="mx-auto d-block img-register" alt="">
        <h1>User Login</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <form [formGroup]="form">
      <div class="form-group">
          <label>User Name</label>
          <input type="text" formControlName="UserName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }" />
          <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
              <div *ngIf="f.UserName.errors.required">User Name is required</div>
          </div>
      </div>
      <div class="form-group">
          <label>Password</label>
          <input type="Password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
          <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
              <div *ngIf="f.Password.errors.required">Password is required</div>
              <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
          </div>
      </div>
  </form>

  <div class="form-group">
    <button class="btn btn-primary mt-3" (click)="onSubmit()">Login</button>
  </div>
  </div>
</div>